<launch>

  <param name="visao/_H" value="28" type="int" />
  <param name="visao/_S" value="230" type="int" />
  <param name="visao/_V" value="200" type="int" />
  <param name="visao/_EH" value="5" type="int" />
  <param name="visao/_ES" value="60" type="int" />
  <param name="visao/_EV" value="80" type="int" />
  <param name="visao/NUM_L" value="32" type="int" />
  <param name="visao/NUM_C" value="32" type="int" />
  <param name="visao/NUM_FRAMES" value="2" type="int" />
  <param name="visao/timeout_value" value="2" type="int" />
  <param name="visao/camera_ID" value="1" type="int" />
  <param name="visao/ref_perto" value="20" type="double" />
  <param name="visao/limiar_x" value="8" type="double" />
  <param name="visao/limiar_y" value="60" type="double" />
  <param name="visao/porta_serial" value="24" type="int" />
<!-- 
  local machine already has a definition by default.
       This tag overrides the default definition with
       specific ROS_ROOT and ROS_PACKAGE_PATH values
  <machine name="local_alt" address="localhost" default="true" ros-root="/u/user/ros/ros/" ros-package-path="/u/user/ros/ros-pkg" />
 -->  <!-- a basic listener node -->
</launch>
